{% extends 'base.html' %} 

{% block food_container %}
<div class="w-50 mx-auto mt-5 container mb-5">
    <div class="row g-4">

        {% for meal in meals %}
            <div class="col-4">
                <div class="card">
                    <img src="{{meal.strMealThumb}}" class="card-img-top" alt="{{meal.strMeal}}_image">
                    <div class="card-body">
                    <h5 class="card-title">{{meal.strMeal}}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
